.publicar-header {
    background-color: #00b1eb;
    margin: 3vh 0;
    color: #fff;
    border-radius: 5px;
}

.fotos-viviendas-title {
    background-color: #ffc107;
    color: #fff;
    width: 70%;
    margin: 0 auto 10px auto;
    padding: 5px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 18px;
}
