.inputs-styles{
    border-top: none;
    border-left: none !important;
    border-right: none !important;
}

.superCenter{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

.btn_blue {
    background-color: blue;
    border: blue;
    font-weight: bold;
}

#subject{
    border-bottom: none !important;
}

.titles_contactenos{
    font-weight: bold;
    font-size:20px;
}

.links{
    color: rgb(0, 140, 255);
    text-decoration-line: underline;
    cursor: pointer;
}