.search_button {
    background-color: #ffbf3f;
    border: 1px solid #ffbf3f;
}

.search_button:hover {
    background-color: #df9d1a;
    border: 1px solid #df9d1a;
}

.outlineA {
    border-color: #00b1eb;
}

.upDown {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.labelUpDown {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
}