.navbar {
    background-color: #00b1eb;
}
.nav-link,
.nav-link a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.signin-signup {
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-end;
}

.signin-signup > button {
    background-color: #ffbf3f;
    border: none;
    margin: 1px 7px 0;
    padding: 4px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.user-login-options {
    display: none;
    background-color: #fff;
    position: absolute;
    margin-top: 33px;
    /* margin-right: 10px; */
    z-index: 999;
    border: 1px solid #ffbf3f;
    min-width: 10vw;
}

.user-login-options.active {
    display: block;
}

.user-login-options > .opt {
    border: 1px solid #ffbf3f;
    font-size: 14px;
    padding: 8px;
}

.user-login-options > .opt:hover {
    background-color: #ffbf3f;
    cursor: pointer;
    color: #fff;
}

.nav-item:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #f8e83b;
}

.submenu-lang {
    position: absolute;
    background-color: #00b1eb;
    top: 8vh;
    margin-left: -5px;
    z-index: 9;
    padding: 5px 10px;
}

.submenu-lang > ul,
.submenu-vi > ul {
    margin: 0;
    padding: 0 5px;
}

.submenu-lang > ul > li {
    list-style-type: none;
    margin: 5px 0;
}

.submenu-lang > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #f8e83b;
}

.submenu-vi {
    position: absolute;
    background-color: #00b1eb;
    top: 8vh;
    z-index: 9;
    /* padding: 5px 10px; */
}

.submenu-vi > ul > li {
    display: inline-block;
    list-style-type: none;
    margin: 10px 15px;
}

.submenu-vi > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #f8e83b;
}
