.title-create {
    background-color: #00b1eb;
}

.contact-service {
    border: solid 1px #00b1eb;
    padding: 1rem;
}

.form-check-label[for="check-movil"], .form-check-label[for="check-fijo"] {
    background-color: #ffc107 !important;
    padding: 0.5rem 3rem;
    color: white;
}
