.breadcrumb-item.active {
    color: #0abb29;
}

.breadcrumb-item a {
    color: #4a56637d;
}

.steps {
    padding-top: 15px;
}

.steps h3 {
    font-weight: bold;
    font-size: 22px;
}

.steps p {
    margin: 0 0;
}

.steps span {
    color: #ff0017;
}

.steps span.link {
    color: #2b5ee9;
    text-decoration-color: #2b5ee9;
    text-decoration: underline;
}

.steps-container {
    text-align: center;
}

.steps-container > .row > .col {
    background-color: #d9d9d9;
    padding: 0.7% 2%;
    margin: 5px;
    border-radius: 10px;
}

.steps-container > .row > .col.active {
    background-color: #8cd063;
    text-decoration: underline;
    text-decoration-color: #fff;
}

.steps-container > .row > .col:hover {
    cursor: pointer;
}

.steps-container .col a,
.steps-container .col span {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.btn-custom {
    background-color: #ffbf3f;
    border: #ffbf3f;
    font-weight: bold;
}

.btn-custom:hover {
    background-color: #daa43a;
}
