/* .padding-contact p, */
.padding-contact input {
    margin: 2px 0;
    border: 2px solid #4c6d88;
}

.datos-contacto-container {
    border: 3px solid #607fc2;
    padding: 10px;
    font-weight: bold;
    margin-left: 10px;
}

.dias-contacto-container {
    border: 3px solid #607fc2;
    margin-left: 10%;
    width: 80%;
    padding: 3%;
}
